version: '3'
services:
  proxy-master:
    build: .
    container_name: rotating-gcp-proxy
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      - DATA_DIR=/data
    volumes:
      - ./data:/data
    restart: unless-stopped
